<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link type="text/css" href="/static/base.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro|Bungee" rel="stylesheet">

  </head>

  <body>


    <!-- navbar-->
    <nav class="navbar navbar-light justify-content-between" id="navbar">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <br>
      <a class="navbar-brand" href="/" style="font-family:'Bungee', cursive; font-size:20px">DAIRYNOTES</a>
      <form class="form-inline">
	<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	<button class="btn btn-outline-primary success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>

    <!-- SIDEBAR     -->
    <div class="row" >
      <div class="col-">
	<nav class="navbar navbar-dark bg-dark" style="height:100vh">
	  <div class="collapse" id="navbarToggleExternalContent">
	    <div class="bg-dark p-4" style="height:100vh; width:200px">
	      <a href="/welcome"><h4 class="text-white sidebar">Notes</h4></a> 
	      <a href="/archive"><h4 class="text-white sidebar">Archive</h4></a>
	      <br><br><br>
	      {% if loggedin %}
	      <form method="POST" action="/logout/">
		<button type="submit" value="Logout">LOG OUT</button>
	      </form>
	      {% endif %}

	    </div>
	  </div>
	</nav>
      </div>
      <div class="container mt-5 mb-5">
	<!-- content -->
	<div class="messages">
	  {% set messages = get_flashed_messages() %}
	  {% for message in messages %}
	  <div class="text-center flashed">
	    {{message}} 
	  </div>
	  {% endfor %}
	</div>
	{% block content1 %}
	<div id="front_page" style="background-image: url('/static/postits.jpeg');" >
	  <div class="row front">
	    <h1 class="heading" id="front_line" >Keep all the notes, checklists, and images you want right here.</h1>
	  </div>
	  <br><br>
	  <div class="text-center">
	    <button class="btn"><a href="/login">LOGIN OR SIGN UP</a></button>
	  </div>
	</div>
	{% endblock %}
      </div>
    </div>

  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

</html>
