{% extends "base.html" %}
{% block content1 %}
<h1>
  Hello, {{username}}! <br>
</h1>


<br>

<div class="row">
  <div class="col-3">
  </div>
  <div class="col-6">      
    <form method = "POST" action = "/note">
      <div class="input-group-sm">
	<input type="text" class="form-control sharp" name="title" placeholder="Title" >
      </div>
      <div class="input-group-lg" >
	<input type="text" id="typenote" class="form-control" name="content" placeholder="Type a note" >
      </div>
      <div id="checkbox_note" class="form-check" hidden >
	<div id="items">
          <div class="form-inline" id="item">
            <input class="form-check-input position-static" type="checkbox" value="option1" aria-label="..."><input type="text" class="form-control checkbox sharp" name="cb" placeholder="Item" >
          </div>
	</div>
	<button id="add_item" class="btn sharp" type="button">add item</button>
      </div>

      <h2> Note Color </h2>
      <input type="radio" checked="checked" name="radio" value="blue">Blue<br>
      <input type="radio" name="radio" value="red">Red<br>
      <input type="radio" name="radio" value="orange">Orange<br>
      <input type="radio" name="radio" value="yellow">Yellow<br>
      <input type="radio" name="radio" value="green">Green<br>
      <input type="radio" name="radio" value="purple">Purple<br>
      <div class="input-group">
	<select id="color" class="custom-select" id="inlineFormCustomSelect">
          <option id="blueopt" value="Blue">Blue</option>
          <option id="redopt" value="Red">Red</option>
          <option id="orgopt" value="Orange">Orange</option>
	  <option id="yelopt" value="Yellow">Yellow</option>
	  <option id="greopt" value="Green">Green</option>
	  <option id="purpopt" value="Purple">Purple</option>
	</select>
	<button id="tog1" class="btn btn-secondary sharp" type="button">checkbox</button>
	<button id="tog2" class="btn btn-secondary sharp" type="button">Image Upload</button>
	<button class="btn btn-primary sharp" type = "submit"> Submit </button>
      </div>
      <p id="notes" hidden="true">{{ notes }}</p>

  </div>
  <div class="col-3">
  </div>
  </form>
</div>
<br>
<br>
<h3> Other Notes Below </h3>


<br><br>

<svg xmlns="http://www.w3.org/2000/svg" id="svg" width="1000" height="400" xmlns:xlink="http://www.w3.org/1999/xlink"></svg>

<form method="POST" action="/logout/">
  <input type="submit" value="Logout">
</form>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="../static/notes.js" type='text/javascript'></script>
<script src="../static/notetype.js" type='text/javascript'></script>
{% endblock %}
