#navbar {
    background-color: #8daa91
}
.sidebar {
    padding:10px;
}
.label {
    text-indent:10px;
}

.heading {
    font-family: 'Maven Pro', sans-serif;
    font-weight: bold
}

.front {
    padding: 25px;
    margin: 15px;
    color: white;
}

#front_line {
    font-size: 80px;
}

#front_page {

    height:85%;
    width: 100%;
}

.flashed {
    color: red;
    font-style:italic;
}

.checkbox {
    width:500px;
}

.sharp {
    border-radius: 0px;
}

.form-sharp {
    border-top:none;
    border-radius: 0px;
}


#color {
    color:white;
}
