#navbar {
    background-color: #8daa91
}
.sidebar {
    padding:10px;
}
.label {
    text-indent:10px;
}

.heading {
    font-family: 'Maven Pro', sans-serif;
    font-weight: bold
}

.flashed {
    color: red;
    font-style:italics;
}

.sharp {
    border-radius: 0px;
}

#typenote{
    border-top:none;
    border-radius: 0px;
}

.checkbox {
    width:100%
}
