{% extends "base.html" %}
{% block content1 %}
<br><br>
<div class="row">
  <div class="col-6 border-right">
    <div class="float-right mr-5">
      <h1 class="heading"> LOG IN </h1>
      <br>
      <form method="POST" action="/welcome">
	<input type="text" name="user" placeholder="username" value=""><br><br>
	<input type="password" name="pass" placeholder="password" value=""><br><br>
	<input class="btn btn-primary" type="submit" value="Log In" >
      </form>
    </div>
    <br>
  </div>
  <div class="col-6">
    <div class="float-left ml-5">
      <h1 class="heading"> SIGN UP </h1>
      <br>
      <form method="POST" action="/signup">
	<input type="text" name="user" placeholder="Create a username..." value=""><br><br>
	<input type="password" name="pass" value="" placeholder="Create a password..."><br><br>
	<input class="btn btn-warning" type="submit" value="Sign Up">
      </form>
    </div>
  </div>
  <div class="col-4">
  </div>
  <div class="col-4">
  </div>
</div>
{% endblock %}
