<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">


  </head>

  <body>


    <!-- navbar-->
    <nav class="navbar navbar-light bg-light justify-content-between">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <br>
      <a class="navbar-brand" href="/" style="font-family:'Bungee', cursive; font-size:30px">TEAM MILKSHAKE NOTES</a>
      <form class="form-inline">
	<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>

    <!-- SIDEBAR     -->
    <div class="row" >
      <div class="col-"
	   <nav class="navbar navbar-dark bg-dark">
	     <div class="collapse" id="navbarToggleExternalContent">
	       <div class="bg-dark p-4" style="height:100vh; width:275px">
		 <a href="/"><h4 class="text-white">Notes</h4></a> 
		 <h4 class="text-white">Labels</h4>
		 <span class="text-muted">Insert list.</span>
		 <a href="/login"><h4 class="text-white">Archive</h4></a> 
	       </div>
	     </div>
	   </nav>
    </div>
    
    <div class="container mt-5">
      <!-- content -->
      {% set messages = get_flashed_messages() %}
      {% for message in messages %}
      <center>
	<h1> {{message}} </h1>
      </center>
      {% endfor %}
      {% block content1 %}
      <h2>Welcome to Google Keep by Team MiLKShake!</h2>
   
      <h3><a href="/login">Login</a></h3>
      {% endblock %}
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/\
									  GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgP\
												   xhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGi\
											     RRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>
