{% extends "base.html" %}
{% block content1 %}
<br><br>
<div class="row">
  <div class="col-6 border-right">
    <div class="float-right mr-5">
      <h1> LOGIN </h1>
      <br>
      <form method="POST" action="/welcome">
	<h4>Username</h4>
	<input type="text" name="user" value=""><br><br>
	<h4>Password</h4>
	<input type="password" name="pass" value=""><br><br>
	<input type="submit" value="Log In" >
      </form>
    </div>
    <br>
  </div>
  <div class="col-6">
    <div class="float-left ml-5">
      <h1> Sign Up </h1>
      <br>
      <form method="POST" action="/signup">
	<h4> Create a Username </h4>
	<input type="text" name="user" value=""><br><br>
	<h4> Create a Password </h4>
	<input type="password" name="pass" value=""><br><br>
	<input type="submit" value="Sign Up">
      </form>
    </div>
  </div>
  <div class="col-4">
  </div>
  <div class="col-4">
  </div>
</div>
{% endblock %}
